p {
	color: #0B5B6A;
}

body {
	font-size: 14px;
	color: blue;
	background-color: #7EBFCB;
}

h1 {
	color: #331F00;
	text-align: center;
	border-style: solid;
	border-color: #331F00;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: #C68111;
	
}

h2 {
	color: #003434;
}

#mainContent {
	margin-left: 150px;
	margin-right: 75px;
}

.centerMe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #C68111;
	width: 130px;
	min-height: 100%;
	position: fixed;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: #000;
	padding-left: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
}

nav ul li a:hover {
	background-color: #0B5B6A;
	color: #7EBFCB;
}

.active {
	background-color: #0B5B6A;
	color: #7EBFCB;
}

@media screen and (max-width: 600px) {
	nav  ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		top:0;
		left: 0;
		width: 100%;
		background-color: #f1f1f1;
		position: fixed;
		min-height: auto;
	}
	
	h1 {
		margin-top: 3%;
	}
	
	#mainContent {
		margin-left: 2%;
		margin-right: 2%;
	}
	
	nav ul li {
		float: left;
		border-right: 1px solid black;
	}
	
	nav ul li a {
		display: block;
		text-decoration: none;
		color: #000;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 16px;
		padding-right: 16px;
		font-size: 0.75em;
	}
}

.imgLeft {
	float: left;
	padding-right: 15px;
	max-width: 30%;
}

img {
	max-width: 100%;
	height: auto;
	padding-bottom: 30px;
}






