p {
	color: brown;
}

body {
	font-size: 14px;
	color: blue;
	background-color: #308393;
}

h1 {
	color: #074700;
	text-align: center;
	border-style: dashed;
	border-color: 4px;
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #0D8700;
	
}

#mainContent {
	margin-left: 150px;
	margin-right: 75px;
}

.centerMe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #0D8700;
	width: 130px;
	min-height: 100%;
	position: fixed;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: #000;
	padding-left: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
}

nav ul li a:hover {
	background-color: #0B5B6A;
	color: #7EBFCB;
}

.active {
	background-color: #0B5B6A;
	color: #7EBFCB;
}



