p {
	color: green;
}

body {
	font-size: 14px;
	color: blue;
	background-color: #308393;
}

h1 {
	color: #630300;
	text-align: center;
	border-style: dashed;
	border-color: 4px;
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #0D8700
	
}